.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome {
  background: url(/img/index-background.jpg) no-repeat;
}

.subscribe {
  background: url(/img/subscribe-background.png) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
  gap: 10px;
}

.sedona-hotels {
  background: url(/img/filter-background.png) no-repeat
}
