@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
  outline: 2px solid rgb(0, 128, 68);
}


.body-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  outline: 2px solid purple;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-items {
  display: flex;
  outline: 2px solid purple;
  margin: 0;
  padding: 0;
  width: 500px;
}

.navigation-user {
  display: flex;
  width: 300px;
  margin-left: auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.phone-number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.navigation-items,
.contacts-item,
.breadcrumbs,
.hotels-list,
.hotels-filter-list,
.contacts-social-list,
.features-list,
.pagination {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.advantages-main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 290px;
}

.title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}


.search-hotel,
.features-description {
  text-align: center;
}

.search-hotel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}
.subscribe-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
  gap: 10px;
}

.footer-contacts-container {
  display: flex;
  margin: 0;
  padding: 40px 70px 30px;
}

.contacts-social-list {
  display: flex;
  outline: 2px solid rgb(0, 128, 68);
  width: 160px;
  margin: 0;
  padding: 0;
}

.contacts-phone-number {
  display: flex;
  justify-content: center;
  width: 720px;
  margin: 0;
  padding: 0 41.5px;
}

.contacts-htmlacademy-link {
  display: flex;
  width: 115px;
  align-items: center;
}

.reason,
.search-hotel p,
.subscribe-hotels p,
.title-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.welcome {
  color: #000000;
  background: url("../img/welcome-bottom-decor.svg") no-repeat bottom,
              url("../img/index-background.jpg") no-repeat #ffffff;
  background-size: 100% auto;
}

.main-welcome {
  display: block;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-title-narrow,
.features-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-wide {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item,
.features-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: rgba(131, 179, 211, 0.12);
  justify-content: center;
  align-items: center;
  padding: 85px;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item:nth-child(2) {
  background-color: #ffffff;
}

.advantages-description-wide {
  color: #ffffff;
}

.advantages-item-wide {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
  align-items: center;
}

.advantages-image {
  display: block;
}


.subscribe-index {
  color: #ffffff;
  background: url("../img/subscribe-background.jpg") no-repeat #303030;
  background-size: 100% auto;

}

.subscribe-index h2,
.subscribe-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.sedona-hotels {
  color: #ffffff;
  background: url("../img/subscribe-background.jpg") no-repeat #303030;
  background-size: 100% auto;
}

.sedona-hotels h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.hotels-filter-group {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.select-control {
  color: #333333;
}

.hotel-card a,
.navigation-item a {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.pagination-link {
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-decoration: none;
}

.pagination-current {
  background: #f2f2f2;
  color: #000000;
}

.subscribe-hotels {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
  gap: 10px;
}

.button {
  display: inline-block;
  background-color: #756157;
  color:#ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border-style: none;
  text-transform: uppercase;
  padding: 8px 50px;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.subscribe-button {
  border-radius: 0px 4px 4px 0px;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.button-apply,
.button-to-favorites {
  color: #ffffff;
  background-color: #82B3D3;
}

.button-reset {
  background-color: rgba(0,0,0,0);
}

.button-in-favorites {
  background-color: #7DB54F;
}

.rating-text {
  color: #333333;
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border-style: none;
}
