@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-header {
  display: flex;
  padding: 0 70px;
}

.page-header-logo {
  position: absolute;
}

.main-container {
  flex-grow: 1;
  outline: 2px solid rgb(0, 128, 68);
}


.body-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 1200px;
  background-color: #ffffff;
  outline: 2px solid purple;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  margin: 0;
}

.navigation-link-current {
  position: relative;
}



.navigation-link-current::before {
  position: absolute;
  content: "";
  width: min-content;
  height: 2px;
  bottom: -20px;
  left: 50%;
  margin-left: -34px;
  background-color: rgba(117, 98, 87, 1);
}

.navigation-items {
  display: flex;
  outline: 2px solid purple;
  margin: 0;
  margin-left: 168px;
  padding: 20px 16px;
  width: 307px;
  justify-content: space-between;
}

.navigation-item {
  outline: 2px solid forestgreen;
}

.navigation-user {
  display: flex;
  width: 268px;
  justify-content: space-between;
  padding: 14px 0;
  margin-left: 285px;

}

.search-icon,
.favourites-icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  padding: 8px 12px;
}

.search-icon {
  background-image: url("../img/search.svg");
}

.favourites-icon {
  background-image: url("../img/heart.svg");
  position: relative;
}

.number-in-favourites {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 24px;
  top: -3px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 50%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts-social-item {
  position: relative;
}

.social-icon {
  display: block;
  padding: 16px 10px;
}

.phone-number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.phone-number:hover,
.phone-number:focus {
  color: #756157;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-items,
.contacts-item,
.breadcrumbs,
.hotels-list,
.hotels-filter-list,
.contacts-social-list,
.features-list,
.pagination {
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.advantages-main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 274px;
}

.features-main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 347px;
}

.title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.results-title {
  margin-right: 192px;
}

.search-hotel,
.features-description {
  text-align: center;
}

.search-hotel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.subscribe-index-container,
.subscribe-hotels-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
}


.footer-contacts-container {
  display: grid;
  margin: 40px 70px 30px;
  outline: 2px solid royalblue;
  grid-template-columns: 142px 720px 115px;
  gap:40px;
}

.contacts-social-list {
  display: flex;
  outline: 2px solid rgb(0, 128, 68);
  width: 142px;
  margin: 0;
  padding: 0;
}

.contacts-phone-number {
  display: flex;
  justify-content: center;
  width: 331px;
  margin: 0;
  padding: 5px 195px;
}

.contacts-htmlacademy-link {
  display: flex;
  width: 115px;
  align-items: center;
  margin-left: auto;
}

.hotels-filter {
  display: flex;
  justify-content: space-between;
}

.hotels-filter-list {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  width: 150px;
}


.hotels-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 525px;
}

.hotels-catalog {
  padding: 50px 70px 60px;
}


.hotels-catalog-view {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}



.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  padding: 20px;
  max-width: 300px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card:last-child {
  margin-bottom: 40px;
}

.hotel-card-link {
  grid-column: 1/-1;
}

.price {
  justify-self: end;
}


.reason,
.search-hotel p,
.subscribe-hotels p,
.title-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.welcome {
  color: #000000;
  background: url("../img/welcome-bottom-decor.svg") no-repeat bottom,
              url("../img/index-background.jpg") no-repeat #ffffff;
  background-size: 100% auto;
  min-height: 485px;
}

.main-welcome {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 385px 385px 385px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-photo-city {
  grid-area: 1/2/2/4;
}

.advantages-photo-bridge {
  grid-area: 3/1/4/3;
}

.features-list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantages-title,
.features-title {
  position: relative;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-title-wide {
  position: relative;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title-wide::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  background-color: rgba(255, 255, 255, 0.3);
}


.advantages-item,
.features-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: rgba(131, 179, 211, 0.12);
  justify-content: center;
  align-items: center;
  padding: 112px 85px;
}

.features-item {
  padding: 81px 85px;
}

.features-title {
  margin: 0;
  padding-top: 112px;
}

.features-title.housing::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  width: 75px;
  height: 72px;
  background-image: url("../img/housing.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 72px;
}

.features-title.food::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: -15px;
  width: 75px;
  height: 72px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 72px;
}

.features-title.souvenirs::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  right: 15px;
  width: 75px;
  height: 72px;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 72px;
}

.advantages-item-wide {
  display: flex;
  flex-direction: column;
  width: 230px;
  color: #ffffff;
  background-color: #82b3d3;
  align-items: center;
  padding: 112.5px 85px;
}


.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item:nth-child(2) {
  background-color: #ffffff;
}

.advantages-description-wide {
  color: #ffffff;
}


.advantages-image {
  display: block;
}


.subscribe-index {
  color: #ffffff;
  background: url("../img/subscribe-background.jpg") no-repeat #303030;
  background-size: 100% auto;

}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 452px;
}

.subscribe-index h2,
.subscribe-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-index h2 {
  color: #ffffff;
}

.subscribe-description {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.sedona-hotels {
  color: #ffffff;
  background: url("../img/filter-background.jpg") no-repeat #303030;
  background-size: cover;
  padding: 35px 43px 70px 70px;
}


.sedona-hotels h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  gap: 28px;
  padding: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  display: block;
  position: relative;
}

.breadcrumbs-link::after {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  right: -18px;
  width: 8px;
  height: 20px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 20px;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-link {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
}


.hotels-filter-group {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: none;
}

.hotels-catalog-view .title {
  margin-right: 200px;
}

.hotels-filter-buttons {
  display: flex;
  flex-direction: column;
}

.hotels-filter-item {
  margin-bottom: 16px;
}


.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.select-control {
  color: #333333;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 14px 131px 14px 20px;
}

.view-variant {
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    margin-right: 8px;
}

.view-variant:last-child {
  margin-right: 0;
}

.view-variant-tile,
.view-variant-slideshow,
.view-variant-list {
  padding: 17px 16px;
  margin: 0;
}


.view-variant:hover,
.view-variant:active {
  fill: #000000;
  border: 2px solid #000000;
  border-radius: 4px;
}

.view-variant:focus {
  fill: #000000;
  border: 2px solid #68A2CA;
}

.hotel-card a,
.navigation-item a {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-top: 16px;
}

.social-icon:hover path,
.social-icon:focus path {
  fill: #68A2CA;
}

.social-icon:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.htmlacademy-link:hover path,
.htmlacademy-link:focus path {
  fill: #756157;
}

.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.button {
  display: inline-block;
  background-color: #756157;
  color:#ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border-style: none;
  text-transform: uppercase;
  padding: 8px 26px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.subscribe-button {
  border-radius: 0px 4px 4px 0px;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
}

.button-apply,
.button-to-favorites {
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 20px;
}

.button-in-favorites {
  background-color: #7DB54F;
  padding: 8px 18px;
  cursor: default;
}

.button-apply {
  padding: 8px 50px;
}

.button-reset {
  background-color: rgba(0,0,0,0);
  padding: 8px 57px;
  margin-top: 32px;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active,
.button-reset:active  {
  color: rgba(255, 255, 255, 0.3);
}

.button-green:hover,
.button-green:focus {
  cursor: default;
  background-color: #6C9E42;
  color: #ffffff;
}

.button-green:active {
  background-color: #7DB54F;
  color:rgba(255, 255, 255, 0.3)
}

.button-reset:hover {
  background-color: rgba(0,0,0,0);
  color: rgba(255, 255, 255, 0.25);
}

.button-reset:focus {
  background-color: rgba(0,0,0,0);
  border: 3px solid #83B3D3;
}


.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.select-control {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:active {
  border: 2px solid #3F5E72;
  border-radius: 4px;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.rating-text {
  color: #333333;
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 22px;
  border-radius: 4px;
  border-style: none;
  cursor: default;
}

.rating-text:hover,
.rating-text:active,
.rating-text:focus {
  background-color: #F2F2F2;
}

.stars-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4,18px);
  column-gap: 6px;
}

.star {
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background-size: 18px 17px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination {
  display: flex;
  margin-top: 40px;
  padding: 0;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  color:#ffffff;
  border-radius: 4px;
  margin-right: 8px;
  text-align: center;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #68A2CA;
}

.pagination-link {
  display: flex;
  justify-content: center;
  padding: 12px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-decoration: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;

}

.pagination-item span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:nth-last-child(2) {
  background-color: #ffffff;
  color: #000000;
