@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-items {
  list-style-type: none;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.welcome {
  color: #000000;
  background: url(/img/index-background.jpg) no-repeat #ffffff;
  background-size: 100% auto;
}

.main-welcome {
 padding: 51px 371px 82px;
}

.advantages-list {
  text-align: center;
  list-style-type: none;
}

.advantages-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title-wide {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-wide {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-image {
  display: block;
}

.features-list {
  list-style-type: none;
}

.subscribe-index {
  color: #ffffff;
  background: url(/img/subscribe-background.jpg) no-repeat #303030;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
  gap: 10px;
}

.sedona-hotels {
  color: #ffffff;
  background: url(/img/subscribe-background.jpg) no-repeat #303030;
  background-size: 100% auto;
}
