@font-face {
  font-family: "PT Sans", sans-serif;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome {
  background: url(/img/index-background.jpg) no-repeat;
}

.main-welcome {
 padding: 51px 371px 82px;
}

.subscribe-index {
  background: url(/img/subscribe-background.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
  gap: 10px;
}

.sedona-hotels {
  background: url(/img/filter-background.jpg) no-repeat
}
